<!-- data_analysis/templates/eda.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Project 3</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header class="header">
        
    </header>

    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxs-dice-3 icon' ></i>
            <div class="logo_name">Group 3</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>

        <ul class="nav-list">
          <li>
            <a href="{% url 'project1' %}">
            <i class='bx bx-plus-medical'></i>
              <span class="links_name">Dengue Case</span>
            </a>
             <span class="tooltip">Dengue Case</span>
          </li>

          <li>
            <a href="{% url 'project2' %}">
            <i class='bx bx-map-alt' ></i>
             <span class="links_name">Geo Dataset</span>
           </a>
           <span class="tooltip">Geo Dataset</span>
         </li>

         <li>
            <a href="{% url 'project3' %}">
             <i class='bx bx-chat' ></i>
             <span class="links_name">Rawr</span>
           </a>
           <span class="tooltip">Rawr</span>
         </li>
         <li>
            <a href="{% url 'others' %}">
                <i class='bx bx-upload'></i>
             <span class="links_name">Upload</span>
           </a>
           <span class="tooltip">Upload</span>
         </li>
         
       <!-- ... your other HTML code ... -->
<li class="profile">
    <div class="profile-details">
        <i class='bx bxs-user-circle'></i>
        
            <div class="name">{{ user.email }}</div>
           
        
    </div>
    <button type="button" onclick="location.href='{% url 'logout' %}'">
        <i class='bx bx-log-out' id="log_out"></i>Logout
    </button>
</li>
<!-- ... your other HTML code ... -->

        </ul>
      </div>
    </div>



    <main class="main">
        <div class="card">
            
        </div>
        <div class="card">
          
        </div>
        <div class="card">
            
        </div>
        <!-- Corrected table structure -->
        <div class="card">
              <!-- DataTables Buttons -->
   
            <table id="example" class="table table-striped" style="width: 100%;">
                
             <!--   {{ data_head_html|safe }}-->
                
            </table>

            <div class="card">
                <a href="{{ dataset_link }}">Download</a>
            </div>
        </div>
        
        
    </main>

    <script>
  
       
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
 
  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });
  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });
  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
    </script>
</body>
</html>
