{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %} 
{% if message %}
<script>
    alert("{{ message }}");
</script>
{% endif %}
<div class="container">
    <form action="/postSignUp/" method="post">
        <h1>Sign Up</h1> {{ msg }}
        
        <div class="input">
            {% csrf_token %}
            <!-- Username Field -->
            <div class="input">
                <input type="text" name="email" id="email" placeholder=""required>
                <label for="email" class="floating-label">
                    Email</label>
                    <span class="material-icons">person</span>   
            </div>

            <!-- Password Field -->
            <div class="input">
                <input type="password" name="password" id="password" placeholder="" required>
                <label for="password" class="floating-label">
                    Password
                </label>
                <span class="material-icons">lock</span>
            </div>
            <button type="submit" style="margin-top: 50px;">Sign Up</button>
            <p class=".register-link">No account? <a href="/">Login</a></p>
        </div>
    </form>
</div>
{% endblock %}